---
layout: default
title: Teaching
---

<div class="docs-section" id="teaching">
  <h4>Teaching</h4>

  <h5 class="teaching-section-heading">Courses</h5>
  <ul class="vita-list">
    {% for item in site.data.teaching.courses %}
      <li>
        <b>{{ item.role }}, {{ item.time }}</b><br/>
        {{ item.course }}<br/>
        <span class="teaching-dept">{{ item.department }}</span>
      </li>
    {% endfor %}
  </ul>
 
  <h5 class="teaching-section-heading">Course Materials</h5>
  <ul class="vita-list">
    {% for m in site.data.teaching.materials %}
      <li><i class="fa-solid fa-file-pdf teaching-file-icon" aria-hidden="true"></i><a href="{{ m.file | prepend: site.baseurl }}" target="_blank">{{ m.label }}</a></li>
    {% endfor %}
  </ul>

  <h5 class="teaching-section-heading">Summer Camp &amp; Educational Training</h5>
  <ul class="vita-list">
    {% for item in site.data.teaching.summer_camp %}
      <li>
        <b>{{ item.role }}, {{ item.time }}</b><br/>
        <span class="teaching-dept">{{ item.name }}</span><br/>
        {{ item.description }}
        {% if item.images %}
          <div class="camp-photos">
            {% for img in item.images %}
              <a href="{{ img.src | prepend: site.baseurl }}" target="_blank"><img src="{{ img.src | prepend: site.baseurl }}" alt="{{ img.alt }}" loading="lazy"></a>
            {% endfor %}
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

</div>
